@model IEnumerable<HotelManagement.Areas.Admin.Models.CustomerViews>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
<div class="admin_home">
    <div class="home_header">
        <div class="home_title">
            <i class="fa-solid fa-user"></i>
            Quản Lý Khách Hàng
        </div>
        <div class="home_add">

        </div>
    </div>
    <div class="search">
        <form action="" class="search_form">
            <div class="form-group col-4">
                <label for="exampleFormControlInput1">Tên Khách Hàng</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" value="@ViewBag.customer">
            </div>
            <div class="form-group col-3">
                <label for="exampleFormControlInput1">Số điện thoại</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" value="@ViewBag.customer">
            </div>
            <div class="search_btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col-1" class="fw-regular text-center">STT</th>
                <th scope="col-1" class="w-50 fw-regular text-center">Họ và Tên</th>
                <th scope="col-2" class="fw-regular text-center">Số điện thoại</th>
                <th scope="col-2" class="w-25 fw-regular text-center">Email</th>
                <th scope="col-1" class="fw-regular text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row" class="text-center">@(Model.ToList().IndexOf(item) + 1)</th>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.CustomerName)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="text-center">
                        <i class="fa-solid fa-bars"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, PageClasses = new string[] { "page-link" }})
</div>