@using HotelManagement.Models
@model List<dynamic>
@Html.Partial("_BookingSteps")
@Html.Partial("_SectionTitle", "Đặt phòng")
@{
    DateTime? timeStart = TempData["timeStart"] as DateTime?;
    DateTime? timeEnd = TempData["timeEnd"] as DateTime?;
}

@using (Html.BeginForm("DisplayAvailableRooms", "Home", FormMethod.Get))
{
    <div class="container form-search">
        <div class="search_date">
            <div style="margin-right: 60px">
                <label>Thời gian nhận phòng:</label>
                <input type="date"/>
            </div>
            <div style="margin-right: 20px">
                <label>Thời gian trả phòng:</label>
                <input type="date" />
            </div>
        </div>

        <a asp-controller="Home" asp-action="DisplayAvailableRooms">
            <button class="btn_s">Tìm kiếm</button>
        </a>

    </div>
}


<div class="container">
    <div class="room">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                var room = item.Room;
                var roomType = item.RoomType;
                <div class="room-cash">
                    <img src="~/imgs/PL1_1.jpg" alt="" class="room_img">
                    <div class="room_des">
                        <p style="font-weight: 0;">
                            <span class ="text_1">Mô tả: </span>
                            @roomType.Description
                        </p>
                        <p>
                            <span class ="text_1">Tên phòng:
                            </span>
                            @room.Name
                        </p>
            
                    </div>
                    <p style="color: rgb(199, 68, 68); text-decoration: underline; font-size: 19px; font-weight: 600"> Giá:
                        @roomType.Price
                    </p>
                    @* <a asp-area="" asp-controller="Home" asp-action="BookingDetail"> *@
                    <a href="@Url.Action("BookingDetail", "Home", new { roomId = room.RoomID })">
                        <button class="room_btn">Chọn phòng</button>
                    </a>
                </div>
            }
        }
    </div>
</div>