@model IEnumerable<HotelManagement.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Dictionary<int, string> MAP_TRANG_THAI_BOOKING = new Dictionary<int, string>()
    {
        { 1, "Chờ Duyệt" },
        { 2, "Đã Duyệt" },
        { 4, "Đang Sử Dụng" },
        { 8, "Hoàn Thành" },
        { 16, "Hủy" }
    };
}

<a asp-area="Admin" asp-controller="Booking" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Bắt đầu
            </th>
            <th>
                Kết thúc
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(Model.ToList().IndexOf(item) + 1)
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @Utils.IntToDateTime(item.TimeStart).Date.ToString("d")
                </td>
                <td>
                    @Utils.IntToDateTime(item.TimeEnd).Date.ToString("d")
                </td>
                <td>
                    @MAP_TRANG_THAI_BOOKING[1]
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
