@model IEnumerable<HotelManagement.Models.Room>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Dictionary<int, string> MAP_TRANG_THAI_PHONG = new Dictionary<int, string>()
    {
        { 1, "Trống" },
        { 2, "Đang Cho Thuê" },
        { 4, "Chưa vệ sinh" },
        { 8, "Đóng cửa" }
    };
}

<div class="home_header">
    <div class="home_title">
        <i class="fa-solid fa-book"></i>
        Quản lý phòng
    </div>
    <div class="home_add">
        <a asp-action="Create" style="text-decoration: none; color: black;">Thêm Mới</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Loại Phòng
            </th>
            <th>
                Phòng
            </th>
            <th>
                Tình Trạng
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(Model.ToList().IndexOf(item) + 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @MAP_TRANG_THAI_PHONG[item.State]
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, PageClasses = new string[] { "page-link" }})
